{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1200x400/weekly?phone,contact/" class="d-block w-100 mx-0">
</div>
<div class="container mb-3">
    <h1 class="text-center">Contact us</h1>
    <form method="POST" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Enter Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="form-group">
            <label for="number" class="form-label">Enter Your Phone number</label>
            <input type="number" class="form-control" id="phone" name="phone">
        </div>

        <div class="form-group my-3">
            <label for="desc" class="form-label">Tell me What you want to contact me for</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock body %}